<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Data Jujitsu is a data science consultancy providing expert solutions, training and advice to international clients who want to reveal the power of their data. It was founded by David Springate in 2017.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/bee.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Expertise</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">David completed a PhD in Evolutionary and Computational Biology at Manchester University in 2012. He worked for more than three years as an academic researcher in machine learning and as a medical statistician.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/glass_building.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                      <h4 class="subheading">Industry Experience</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">David spent 18 months as lead data scientist at a big data technology company in Manchester. He developed a data fusion platform, designed and implemented big data analytics systems in production using Spark, R and Python and presented to clients from large multinational corporations</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/keyboard.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Data Science Community</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">David has been an active member of the Data Science community since 2010, blogging, presenting at conferences and meetups, reviewing data science books and contributing to online discussions.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/lightbulb.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Consulting</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Since setting up Data Jujitsu, David has written Microsoft's "Analyzing Big Data with Microsoft R" online course, implemented a marketing analytics platform for a multinational ecommerce company, and performed several bespoke modelling and text mining analysis projects</p>
                                </div>
                            </div>
                        </li>
                        <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/city.jpg" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4 class="subheading">Industry sectors</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">David has worked across academia, biotech, digital media, market research and public health.  He is particularly interested in ehealth, proptech, smart cities, agritech, edtech, charities and digital media. </p>
                              </div>
                          </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
