<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
	    <div class="col-lg-12 text-center">	
	    	<h2 class="section-heading">Clients</h2>
	    </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.luminexcorp.com/">
                        <img src="img/logos/luminex_416x416.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.rentalcars.com/">
                        <img src="img/logos/rentalcars.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.canddi.com/">
                        <img src="img/logos/canddi.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.cm-group.co.uk/">
                        <img src="img/logos/Content-Master-CM-Group-Site.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>
