<!-- services Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Data Discovery</h2>
            <hr class="star-primary">
            <img src="img/portfolio/dreams.png" class="img-responsive img-centered" alt="image-alt">
            <p>Big data can be daunting! We use state-of-the-art exploratory data analysis tools to help you explore, summarise, visualize and find the patterns hidden in your data. We are experts in:</p>
            <div class="bt-glyphicons">
              <ul class="fa-ul">
                <li class="fa-li fa fa-check-square"><span></span><br>Text mining</li>
                <li class="fa-li fa fa-check-square"><span></span><br>Clustering</li>
                <li class="fa-li fa fa-check-square"><span></span><br>Segmentation</li>
                <li class="fa-li fa fa-check-square"><span></span><br>Big data manipulation</li>
                <li class="fa-li fa fa-check-square"><span></span><br>Social Network Analysis</li>
                <li class="fa-li fa fa-check-square"><span></span><br>Data Visualization</li>
              </ul>
              <div class="pad-50"></div>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Advanced Analytics</h2>
            <hr class="star-primary">
            <img src="img/portfolio/dreams.png" class="img-responsive img-centered" alt="image-alt">
            <p>Do you have a load of data stuck in your company database that you know is valuable, but you don't know how to get to the insights you need?</p>
            <p>Do you have a complex data problem that urgently needs solving but you can't justify a full time data science hire?</p>
            <p>We can take on your analytics projects and quickly refine the valuable insights buried deep in your data. We have years of experience in choosing the right model to fit the right data to answer the right question</p>
              <div class="bt-glyphicons">
              <ul class="fa-ul">
                <li class="fa-li fa fa-check-square"><span></span><br>Regression modelling</li>
                <li class="fa-li fa fa-check-square"><span></span><br>Classification</li>
                <li class="fa-li fa fa-check-square"><span></span><br>Machine learning</li>
                <li class="fa-li fa fa-check-square"><span></span><br>Deep learning</li>
                <li class="fa-li fa fa-check-square"><span></span><br>Survey Analysis</li>
                <li class="fa-li fa fa-check-square"><span></span><br>Network Analysis</li>
              </ul>
              <div class="pad-50"></div>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Data Fusion</h2>
            <hr class="star-primary">
            <img src="img/portfolio/dreams.png" class="img-responsive img-centered" alt="image-alt">
            <p>Data fusion is the process of integrating multiple datasets into a single fused dataset. This enables them to be analysed together in a consistent way that is more useful than analysing the original datasets independently.</p>
            <p>We have extensive experience in conducting large survey and media data fusions using the MRI, Simmons and Numeris establishment surveys to create powerful media planning tools.</p>
            <p>We are experts at implementing:</p>
            <p><strong>Unconstrained Fusions</strong>: Where one dataset is calibrated to another from a possibly more trusted source</p>
            <p><strong>Constrained Fusion</strong>: Where two well-calibrated datasets are combined by sharing the weights from one to the other. This leaves both datasets essentially unchanged</p>
            <p></p>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Data Science in Production</h2>
            <hr class="star-primary">
            <img src="img/portfolio/dreams.png" class="img-responsive img-centered" alt="image-alt">
            <p>You have a fabulous model in R and you want to access it in production. We can help with either setting up your model as a web service or with integrating the model in Spark</p>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Building a Data Science Team</h2>
            <hr class="star-primary">
            <img src="img/portfolio/dreams.png" class="img-responsive img-centered" alt="image-alt">
            <p>You have a stack of data and some great engineers, but how do you set up a team of data scientists?</p>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Training and Mentoring</h2>
            <hr class="star-primary">
            <img src="img/portfolio/dreams.png" class="img-responsive img-centered" alt="image-alt">
            <p>We have years of experience in data science, R and Python programming</p>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{
