<!-- services Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Data Discovery</h2>
            <hr class="star-primary">
            <img src="img/portfolio/black_graph.jpg" class="img-responsive img-centered" alt="image-alt">
            <p>Big data can be daunting! We use state-of-the-art exploratory data analysis tools to help you explore, summarise, visualize and find the patterns hidden in your data. We are experts in:</p>
            <div class="bt-glyphicons">
              <ul class="fa-ul">
                <li class="fa-li fa fa-check-square"><span></span><br>Text mining</li>
                <li class="fa-li fa fa-check-square"><span></span><br>Clustering</li>
                <li class="fa-li fa fa-check-square"><span></span><br>Segmentation</li>
                <li class="fa-li fa fa-check-square"><span></span><br>Big data manipulation</li>
                <li class="fa-li fa fa-check-square"><span></span><br>Social Network Analysis</li>
                <li class="fa-li fa fa-check-square"><span></span><br>Data Visualization</li>
              </ul>
              <div class="pad-50"></div>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Advanced Analytics</h2>
            <hr class="star-primary">
            <img src="img/portfolio/analytics.jpg" class="img-responsive img-centered" alt="image-alt">
            <p>Do you have a load of data stuck in your company database that you know is valuable, but you don't know how to get to the insights you need?</p>
            <p>Do you have a complex data problem that urgently needs solving but you can't justify a full time data science hire?</p>
            <p>We can take on your analytics projects and quickly refine the valuable insights buried deep in your data. We have years of experience in choosing the right model to fit the right data to answer the right question</p>
              <div class="bt-glyphicons">
              <ul class="fa-ul">
                <li class="fa-li fa fa-check-square"><span></span><br>Regression modelling</li>
                <li class="fa-li fa fa-check-square"><span></span><br>Classification</li>
                <li class="fa-li fa fa-check-square"><span></span><br>Machine learning</li>
                <li class="fa-li fa fa-check-square"><span></span><br>Forecasting and Time Series</li>
                <li class="fa-li fa fa-check-square"><span></span><br>Survey Analysis</li>
                <li class="fa-li fa fa-check-square"><span></span><br>Network Analysis</li>
              </ul>
              <div class="pad-50"></div>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Data Fusion</h2>
            <hr class="star-primary">
            <img src="img/portfolio/data_mess.jpg" class="img-responsive img-centered" alt="image-alt">
            <p>Data fusion is the process of integrating multiple datasets into a single fused dataset. This enables them to be analysed together in a consistent way that is more useful than analysing the original datasets independently.</p>
            <p>We have extensive experience in conducting large survey and media data fusions using the MRI, Simmons and Numeris establishment surveys to create powerful media planning tools.</p>
            <p>We are experts at implementing:</p>
            <p><strong>Unconstrained Fusions</strong>: Where an, often smaller but more detailed, dataset is calibrated to another, possibly from a trusted establishment study</p>
            <p><strong>Constrained Fusion</strong>: Where two well-calibrated datasets are combined by sharing the weights from one to the other. This leaves both datasets essentially unchanged</p>
            <p></p>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Building Data Products</h2>
            <hr class="star-primary">
            <img src="img/portfolio/product.jpg" class="img-responsive img-centered" alt="image-alt">
            <p>Having a model that works is only the first step towards having a true data product that you can use in your apps or sites.</p>
            <p>You need a solution flexible enough for your analysts to be able to tweak and update the model but robust enough to not break under the pressure of production use at scale.</p>
            <p>We will advise you on the best way to set up data science workflows in production that works for your business, whether it be R, Python or big data technology like Spark or Hadoop. Then we can work with your data engineers to get your models into production.</p>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Data Science Strategy</h2>
            <hr class="star-primary">
            <img src="img/portfolio/people-coffee-notes-tea.jpg" class="img-responsive img-centered" alt="image-alt">
            <p>Big Data will continue to have a fundamental impact on your business over the next few years. Without a detailed data science strategy with a tangiable end goal, you could waste money or worse, end up investing in a solution that is looking for a problem</p>
            <p>We have experience working with businesses and teams in marketing, online media, informatics, acedemia and healthcare. We will help you design and implement a data science strategy and to build effective, data driven, teams. Investing time and effort upfront will prepare you to choose technology and staff that truely support the current and future needs of your business.</p>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Training and Mentoring</h2>
            <hr class="star-primary">
            <img src="img/portfolio/training.jpg" class="img-responsive img-centered" alt="image-alt">
            <p>We have years of experience in data science, R and Python programming, including several years in academia. Whether you need one-on-one training for a specific problem or you want to upskill a whole team, we can put together a training package that is good for you.</p>
            <p>We can also provide a mentorship programme involving regular training and technical advice over the phone or Skype.</p>
            <p>Contact us to discuss your needs.</p>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
